<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dexafree.incidencias"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
        <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dexafree.incidencias.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.dexafree.incidencias.Ajustes"
                  android:configChanges="orientation|screenSize"
                  android:label="Ajustes">
        </activity>

        <activity android:name="com.dexafree.incidencias.Provincias"
                  android:configChanges="orientation|screenSize"
                  android:label="@string/provincias">
        </activity>

        <activity android:name="com.dexafree.incidencias.About"
                  android:configChanges="orientation|screenSize"
                  android:label="Acerca de">
        </activity>

        <activity android:name="com.dexafree.incidencias.AddFavoritos"
                  android:configChanges="orientation|screenSize"
                  android:label="Crear Favorito">
        </activity>

        <activity android:name="com.dexafree.incidencias.ManageFavoritos"
                  android:configChanges="orientation|screenSize"
                  android:label="Administrar Favoritos">
        </activity>

        <activity android:name="com.dexafree.incidencias.MainFavoritos"
                  android:configChanges="orientation|screenSize"
                  android:label="Favoritos">
        </activity>

        <activity android:name="com.dexafree.incidencias.DelFavoritos"
                  android:configChanges="orientation|screenSize"
                  android:label="Eliminar Favorito">
        </activity>


        <service android:name=".UpdateService"
                 android:process=":backUpdateProcess">
        </service>
        <receiver android:name=".StartAlarmManagerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="INCIDENCIAS.AUTOUPDATE"/>
                <action android:name="INCIDENCIAS.START_AUTOUPDATE" />
                <action android:name="INCIDENCIAS.CANCEL_AUTOUPDATE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>